USER_SERVICE_DB_HOST=postgres
USER_SERVICE_DB_PORT=5432
USER_SERVICE_DB_NAME=user_service

USER_SERVICE_DB_USERNAME=admin
USER_SERVICE_DB_PASSWORD=admin

REDIS_HOST=redis
REDIS_PORT=6379

SPRING_PROFILES_ACTIVE=docker